@charset "UTF-8";


.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

#border{
  border-radius: 25px;
  background: #FFC0CB;
  padding: 15px; 
  width: 300px;
  height: 100px;  
  margin: auto;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; 
}

.aboutme {
	height: 150px;
	width: 175px;
	margin-left: 100px;
	
}

#counter{
	background-color:black;
	color:white;
	padding:10px 20px;
	border-radius: 10px;
}
#light {
  margin-left: 625px;
  width: 75%;
  padding: 10px;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	color: white;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  text-align:center;
}

div.gallery:hover {
  border: 1px solid #777;
  background-color: #7FDBFF;
  width: 375px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#beginner{
	text-align: center;
}
#title{
  width: 100px;
  height: 100px;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
.rainbow{
  width: 100px;
  height: 100px;
  color: black;
  transition: width 1s, height 1s;
  text-align: center;
  font-size: 35px;
}

.rainbow:hover {
  width: 800px;
  height: 150px;
}

